<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is a web site where I create web site designs">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="design, Art, web, site">
    <meta name="author" content="Nevena Dimitrova">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <title>nevifashion</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="css/master.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/css/mdb.min.css" rel="stylesheet">
  </head>
  <body>




    <%- include menu.ejs %>

        <section class="py-5 bg-white position-relative">
            <div class="container">
                <header class="text-center mb-5">
                    <h2 class="font-weight-semibold text-uppercase">Логин форма</h2>
                </header>
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <h1 class="profile-go">Моля изчакайте!</h1>

                        <form class="login-form" action="/controllers/login-controller" method="post">
                            <div class="<%= alert_danger %>" role="alert">
                                <%= error %>
                            </div>
                            <div class="form-group">
                                <label for="username">Потребителско име</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Парола</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary login-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    <%- include footer.ejs %>

  </body>
</html>
